@import "tailwindcss";


@layer base {
  /* Apply box-sizing to all elements and their pseudo-elements */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* Remove margin and padding for all elements */
  * {
    margin: 0;
    padding: 0;
  }

  /* Set the base font for the HTML element */
  body {
  width: 100%;
  min-height: 100svh;
  color: wheat;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  button {
    cursor: pointer;
  }
}
